* { color: white; -webkit-transition: 0.3s; transition: 0.3s; }

body { background-color: #090b24; }

.navbar-inverse { color: white; border-radius: 0; border: none; white-space: nowrap; word-break: keep-all; background: #020726; background: -webkit-gradient(left top, right top, color-stop(0%, #020726), color-stop(51%, #21264e), color-stop(100%, #020726)); background: -webkit-linear-gradient(left, #020726 0%, #21264e 51%, #020726 100%); background: linear-gradient(to right, #020726 0%, #21264e 51%, #020726 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020726', endColorstr='#020726', GradientType=1 ); }
.navbar-inverse .navbar-brand { text-transform: uppercase; font-family: 'Bungee Inline', cursive; color: white; }
.navbar-inverse .navbar-brand span, .navbar-inverse .navbar-brand .fa { background: -webkit-linear-gradient(top, #ff2162 0%, #5831a8 100%); background: linear-gradient(180deg, #ff2162 0%, #5831a8 100%); /* w3c */ -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.navbar-inverse .fa { color: white; font-size: 1.3em; }
.navbar-inverse .navbar-right { margin-right: 10px; }
.navbar-inverse .navbar-right > li { border-bottom: 3px solid transparent; margin-bottom: -3px; font-size: 1.2em; box-sizing: border-box; display: inline-block; -webkit-transition: 0.5s; transition: 0.5s; }
.navbar-inverse .navbar-right > li:hover { margin-bottom: -3px; border-bottom: 3px solid #BD3C6B; }

#search-form { padding-left: 0; }

.filters { text-align: center; }
.filters .filter { position: relative; -webkit-transition: 0.5s; transition: 0.5s; z-index: 1; /* Webkit (Chrome 11+) */ background: -webkit-linear-gradient(top, #21264e 0%, #042155 100%); background: linear-gradient(top, #21264e 0%, #042155 100%); padding: 5px; text-decoration: none; color: white; }
.filters .filter .fa { font-size: 1.5em; }
.filters .filter p { margin-bottom: 0px; }
.filters .filter:first-child { border-left: none; border-right: 1px solid #0a2e68; }
.filters .filter:last-child { border-left: 1px solid #0a2e68; border-right: none; }
.filters .filter:hover { z-index: 3; -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); -webkit-transition: boder 0.1s; transition: boder 0.1s; border: none; box-shadow: -1px 2px 20px 9px rgba(0, 0, 0, 0.5); }
.filters .active { background: -webkit-linear-gradient(top, #f4cb42 60%, #541e00 140%); background: linear-gradient(top, #f4cb42 60%, #541e00 140%); box-shadow: -1px 2px 20px 9px rgba(0, 0, 0, 0.5); z-index: 2; }

#online-btn.active { background: -webkit-linear-gradient(top, #26d8a9 100%, #26d8a9 100%); background: linear-gradient(top, #26d8a9 100%, #26d8a9 100%); }

#offline-btn.active { background: -webkit-linear-gradient(top, #ff2162 1000%, #ff2162 100%); background: linear-gradient(top, #ff2162 1000%, #ff2162 100%); }

@-webkit-keyframes marquee { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  100% { -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); } }

@keyframes marquee { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  100% { -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); } }
#channels-container #channels > div { padding: 20px; }
#channels-container #channels > div .channel-container { width: 100%; margin: auto; position: relative; overflow: hidden; -webkit-transition: 0.3s; transition: 0.3s; }
#channels-container #channels > div .channel-container:hover { -webkit-transform: scale(1.1); transform: scale(1.1); z-index: 100; }
#channels-container #channels > div .channel-container .status-icon { position: absolute; top: 10px; right: 10px; }
#channels-container #channels > div .channel-container .channel-info { background-color: rgba(15, 12, 22, 0.5); position: absolute; padding: 10px; bottom: 0; left: 0; right: 0; }
#channels-container #channels > div .channel-container .channel-info a { color: white; }
#channels-container #channels > div .channel-container .channel-info a h3 { margin-top: 0; }
#channels-container #channels > div .channel-container .channel-info .status-detail { width: 100%; margin: 0 auto; white-space: nowrap; overflow: hidden; box-sizing: border-box; }
#channels-container #channels > div .channel-container .channel-info .status-detail p { display: inline-block; padding-left: 100%; /* show the marquee just outside the paragraph */ -webkit-animation: marquee 15s linear infinite; animation: marquee 15s linear infinite; }
#channels-container #channels > div .channel-container .channel-info .status-detail p:hover { -webkit-animation-play-state: paused; animation-play-state: paused; }
#channels-container #channels > div .channel-container .img-responsive { background-color: #0f0c16; }

.online-channel:hover { box-shadow: 0px 0px 63px -4px #0ddb9a; }
.online-channel .status-icon { padding: 5px 8px; border-radius: 50%; background-color: #26d8a9; }
.online-channel .channel-info a { -webkit-transition: 0.2s !important; transition: 0.2s !important; }
.online-channel .channel-info a:hover { color: #26d8a9 !important; text-decoration: none !important; }

.offline-channel:hover { box-shadow: 0px 0px 63px -4px #ff2162; }
.offline-channel .status-icon { padding: 5px 8px; border-radius: 50%; background-color: #ff2162; }
.offline-channel .channel-info a { -webkit-transition: 0.2s !important; transition: 0.2s !important; }
.offline-channel .channel-info a:hover { color: #ff2162 !important; text-decoration: none !important; }
