//General Styling

* {
  color: white;
  transition: 0.3s;
}

body {
  background-color: #090b24;
}

//Navbar Styling
.navbar-inverse {
  color: white;
  border-radius: 0;
  border: none;
  white-space: nowrap;
  word-break: keep-all;
  background: rgba(2,7,38,1);
  background: -moz-linear-gradient(left, rgba(2,7,38,1) 0%, rgba(33,38,78,1) 51%, rgba(2,7,38,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,7,38,1)), color-stop(51%, rgba(33,38,78,1)), color-stop(100%, rgba(2,7,38,1)));
  background: -webkit-linear-gradient(left, rgba(2,7,38,1) 0%, rgba(33,38,78,1) 51%, rgba(2,7,38,1) 100%);
  background: -o-linear-gradient(left, rgba(2,7,38,1) 0%, rgba(33,38,78,1) 51%, rgba(2,7,38,1) 100%);
  background: -ms-linear-gradient(left, rgba(2,7,38,1) 0%, rgba(33,38,78,1) 51%, rgba(2,7,38,1) 100%);
  background: linear-gradient(to right, rgba(2,7,38,1) 0%, rgba(33,38,78,1) 51%, rgba(2,7,38,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020726', endColorstr='#020726', GradientType=1 );

  .navbar-brand {
    text-transform: uppercase;
    font-family: 'Bungee Inline', cursive;
    color: white;

    span,.fa {
      background: linear-gradient(180deg, #ff2162 0%, #5831a8 100%); /* w3c */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }


  }
  .fa {
    color: white;
    font-size: 1.3em;
  }

  .navbar-right {
    margin-right: 10px;
    &>li {
      border-bottom: 3px solid transparent;
      margin-bottom:-3px;
      font-size: 1.2em;
      box-sizing: border-box;
      display: inline-block;
      transition: 0.5s;
      &:hover {
        margin-bottom:-3px;
        border-bottom: 3px solid #BD3C6B;
      }
    }
  }


}
//Filter bar Styling

.filters {
  text-align: center;



   // max-width: 400px;
    .filter {
      position: relative;
      transition: 0.5s;
      z-index: 1;

      /* Webkit (Chrome 11+) */
      background: linear-gradient(top, rgb(33,38,78) 0%, #042155 100%);
      padding: 5px;
      text-decoration: none;

      color: white;
      .fa {

        font-size: 1.5em;
      }
      p {
        margin-bottom: 0px;
      }
      &:first-child {
        border-left: none;
        border-right: 1px solid #0a2e68;
      }

      &:last-child {
        border-left: 1px solid #0a2e68;
        border-right: none;
      }


      &:hover {
        z-index: 3;
        transform: scale(1.1,1.1);
        transition: boder 0.1s;
        border: none;
        box-shadow: -1px 2px 20px 9px rgba(0,0,0,0.5);
      }
    }


  .active {

    background: linear-gradient(top, #f4cb42 60%, #541e00 140%);

    box-shadow: -1px 2px 20px 9px rgba(0,0,0,0.5);
    z-index: 2;
  }


}

#online-btn.active{
  background: linear-gradient(top, #26d8a9 100%, #26d8a9 100%);
}

#offline-btn.active{
  background: linear-gradient(top, #ff2162 1000%, #ff2162 100%);
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

#channels-container {
  #channels {
    &>div {
      padding: 20px;
      .channel-container {
        width: 100%;
        margin: auto;
        position: relative;
        overflow: hidden;
        transition: 0.3s;

        &:hover{
          transform: scale(1.1);
          z-index: 100;
        }

        .status-icon {
          position: absolute;
          top: 10px;
          right: 10px;
        }

        .channel-info {
          background-color: rgba(15, 12, 22,0.5);
          position: absolute;
          padding: 10px;
          bottom: 0;
          left: 0;
          right: 0;

          a {
            color: white;
            h3 {
              margin-top: 0;
            }
          }


          .status-detail {
            width: 100%;
            margin: 0 auto;
            white-space: nowrap;
            overflow: hidden;
            box-sizing: border-box;

            p {
              display: inline-block;
              padding-left: 100%;  /* show the marquee just outside the paragraph */
              animation: marquee 15s linear infinite;

              &:hover {
                animation-play-state: paused
              }
            }
          }
        }

        .img-responsive {
          background-color: #0f0c16;
        }
      }
    }

  }
}

.online-channel {
  &:hover {
    -webkit-box-shadow: 0px 0px 63px -4px rgba(13,219,154,1);
    -moz-box-shadow: 0px 0px 63px -4px rgba(13,219,154,1);
    box-shadow: 0px 0px 63px -4px rgba(13,219,154,1);
  }
  .status-icon {
    padding: 5px 8px;
    border-radius: 50%;
    background-color:#26d8a9;
  }

  .channel-info {

    a {
      transition: 0.2s !important;
      &:hover {
        color:#26d8a9 !important;
        text-decoration: none !important;
      }
    }
  }
}

.offline-channel {
  &:hover {
    -webkit-box-shadow: 0px 0px 63px -4px rgba(255,33,98,1);
    -moz-box-shadow: 0px 0px 63px -4px rgba(255,33,98,1);
    box-shadow: 0px 0px 63px -4px rgba(255,33,98,1);
  }
  .status-icon {
    padding: 5px 8px;
    border-radius: 50%;
    background-color:#ff2162;
  }

  .channel-info {

    a {
      transition: 0.2s !important;
      &:hover {
        color:#ff2162 !important;
        text-decoration: none !important;
      }
    }
  }
}
